[submodule "test-repo"]
	path = test-repo
	url = https://MrTtheMiner@bitbucket.org/MrTtheMiner/sahl-graduate-project.git
[submodule "gd3-testoperations"]
	path = gd3-testoperations
	url = https://github.com/T-rav/gd3-testoperations.git
